using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;

namespace verificadordedatas
{
    public partial class Form1 : Form
    {
        public Form1()
        {
            InitializeComponent();
        }
        private static void ValidarNome(string nome)
        {
            if (nome.Trim().Length == 0)
            {
                string msg = "O nome não pode estar em branco";
                ApplicationException e = new ApplicationException(msg);
                throw e;
            }
        }

        private static void ValidarNota(double nota)
        {
            if ((nota < 0) || (nota > 10))
                {
                string msg = "A nota deve estar entre 0 e 10";
                ApplicationException e = new ApplicationException(msg);
                throw e;
                }
        }

        private void button1_Click(object sender, EventArgs e)
        {
            try
            {
                string nome = textBox1.Text;
                ValidarNome(nome);
                double nota = Convert.ToDouble(textBox2.Text);
                ValidarNota(nota);
                MessageBox.Show("Nota registrada!",":)");
            }
            catch (ApplicationException x)
            {
                MessageBox.Show(x.Message);
            }
            catch (Exception x)
            {
                MessageBox.Show(x.Message);
            }
        }
    }
}
